<div class="jumbotron">
  <h1><%= @recipe.title %> - <%= @recipe.rating %> Stars</h1>

</div>


<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <h3>Ingredients:</h3>
      <% if @recipe.ingredients.any?() %>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="card">
      <h3>Steps:</h3>
      <% if @recipe.instructions.any?() %>
        <ul>
          <% @recipe.instructions.each do |instruction| %>
            <li><%= instruction.step %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <h3>Tags:</h3>
      <% if @recipe.categories.any?() %>
        <ul>
          <% @recipe.categories.each do |category| %>
            <li><%= category.tag %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Add A Rating For This Recipe</h3>
      <form action="/recipe_page/<%= @recipe.id%>" method="post">
        <input name="_method" type="hidden" value="patch">
        <select name="rating">
           <option value="1"> 1 </option>
           <option value="2"> 2 </option>
           <option value="3"> 3 </option>
           <option value="4"> 4 </option>
           <option value="5"> 5 </option>
         </select>
        <button type= "submit" class="btn btn-success">Add A Rating</button>
      </form>
    </div>
  </div>
</div>


<h3><a href= '/'> Go Home </a></h3>
